html {
    scroll-behavior: smooth !important;
}

body {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}

.weight-bold {
    font-weight: 700;
}

.bg-calipso {
    background-color: #0AA2C0;
}

.bg-negro {
    background-color: #000000;
}

.logo {
    height: 2rem;
}

.height-pic {
    height: 40%;
}